.button {
	background: $dark-blue;
	border-radius: 0.25em;
	/*box-shadow: 0 0.125rem 0 0 hsl( 240, 25%, 90% );*/
	color: $white;
	display: inline-block;
  line-height: 1.4;
  padding: 0.5em 0.75rem 0.25em;
	text-decoration: none;
	text-transform: capitalize;
	/*transition: box-shadow 200ms ease;*/

	&:link,
	&:visited {
		/*box-shadow: 0 0.125rem 0 0 hsl( 240, 25%, 90% );*/
		color: $white;
	}

	&:hover,
	&:focus {
		background: $dark-medium-blue;
		/*box-shadow: 0 0.125rem 0 0 hsl( 240, 25%, 80% );*/
		color: $white;
	  padding: 0.5em 0.75rem 0.25em;
	}

	&:active {
		background: $blue;
		/*box-shadow: none;*/
		color: $white;
	  padding: 0.5em 0.75rem 0.25em;
	}

	&[disabled] {
		background: $light-blue-desaturated;
		box-shadow: none;
		color: $white;
		cursor: auto;

		&:hover,
		&:focus {
			background: $light-blue-desaturated;
		}
	}

	&__ghost {
		background: transparent;
		border: 0.125rem solid;
		color: hsl( 240, 100%, 50% );
		padding: 0.125em 0.375em;

		&:link,
		&:visited {
			background: transparent;
			border: 0.125rem solid;
			color: hsl( 240, 100%, 50% );
		}

		&:hover,
		&:focus {
			background: transparent;
			color: hsl( 220, 100%, 50% );
		}

		&:active {
			background: transparent;
			color: hsl( 220, 100%, 60% );
		}

		&[disabled] {
			background: transparent;
			color: hsl( 240, 50%, 80% );
			cursor: auto;
		}
	}
}