/* TODO: Test and debug this component */

$viewport-width: 100vw;
$constrain-width: 100%;
$half-constrain-width: calc(100% / 2);
$unconstrain-width: calc(100vw - 100%);
$window-width: calc(100% + (100vw - 100%));
$half-window-width: calc((100% + (100vw - 100%)) / 2);
$negative-half-window-width: calc(((100% + (100vw - 100%)) / 2) * -1 );

.full-width {
  left: $half-constrain-width;
  margin-left: $negative-half-window-width;
  margin-right: $negative-half-window-width;
  max-width: $window-width;
  position: relative;
  right: $half-constrain-width;
  width: $window-width;
}
