button {
  appearance: none;
  background: $lightest-gray;
	border: none;
  border-radius: 0.25em;
	cursor: pointer;
  font-family: inherit;
  font-size: 100%;
	line-height: 1.4;
  margin: 0;
	overflow: visible;
	padding: 0.5em 0.75rem 0.25em;
	text-transform: capitalize;
  -webkit-appearance: button;
  transition: all $speed-fast ease;

  &:hover,
  &:focus {
    background: $lighter-gray;
    padding: 0.5em 0.75rem 0.25em;
  }

  &[disabled] {
    color: $light-gray;
    cursor: auto;

    &:hover,
    &:focus {
      background: $lightest-gray;
    }
  }

  /* Isolate this selector */
  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
}

[type="button"] {
  border: none;
  padding: 0.5em 0.75rem 0.25em;
  text-transform: capitalize;
  transition: box-shadow $speed-fast ease;
  -webkit-appearance: button;
}

[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/* Isolate this selector */
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  border-style: none;
  padding: 0;
}

/* Isolate this selector */
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}