---
layout: globals
---
  {% include components/skip-link %}
  {% include globals/site-header %}
  {% include components/navigation %}
  <main id="content" class="site-main">
    {{ content }}
  </main><!-- .site-main -->
  {% include globals/site-footer %}
  {% include globals/scripts %}