---
layout: constrain-pad
---
<article>
  <header>
    <h2>{{ project.title }}</h2>
    <p>Last updated: {{ project.date | date: "%m/%d/%Y" }}</p>
  </header>
  {% if project.content %}
  <div>
    {{ project.content }}
  </div>
  {% endif %}
</article>