---
layout: constrain-pad
---
<article>
  <header>
    <h2>{{ testimonial.name.first }} {{ testimonial.name.last }}</h2>
    <p>Last updated: {{ testimonial.date | date: "%m/%d/%Y" }}</p>
  </header>
  {% if testimonial.quote %}
  <div>
    <blockquote>
      {{ testimonial.quote }}
    </blockquote>
  </div>
  {% endif %}
</article>